* {
  box-sizing: border-box;
}

html {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




/* Main Page Layout */

#main-content {
  margin: 225px 425px;
  display: flex;
  flex-direction: column;
  gap: 96px;
}




/* Portfolio Header */

#portfolio-header {
  display: flex;
  gap: 20px;
  align-items: center;
}

#portfolio-header-image-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-basis: 50%;
  font-family: sans-serif;
}

.portfolio-header-image {
  width: 100%;
  height: auto;
}

#portfolio-header-text-container {
  display: flex;
  flex-direction: column;
  gap: 34px;
  flex-basis: 50%;
}




/* About Section */

#about-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about-section-content {
  display: flex;
  flex-direction: column;
  gap: 34px;
}




/* Project Section */

#my-work-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.projects-container {
  display: flex;
  gap: 34px 16px;
  flex-wrap: wrap;
}

    /* Project Cards */

    .project-card {
      max-width: calc((100% - 32px) / 3);
      display: flex;
      flex-direction: column;
      gap: 34px;
    }

    .project-card-text-container {
      flex-direction: column;
      display: flex;
      gap: 16px
    }

    .project-image {
      width: 100%;
      height: 200px;
      object-fit: cover;
      object-position: center;
    }




/* Project Pages */

#project-header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project-header-image {
  width: 100%;
  height: auto;
}

#project-details {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project-details-content {
  display: flex;
  flex-direction: column;
  gap: 34px;
}

/* Project Gallery */

#project-gallery {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project-gallery-content {
  display: flex;
  flex-wrap: wrap;
  gap: 34px 16px;
}

.gallery-image-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gallery-image-container.half-width {
  width: calc((100% - 16px) / 2);
}

.gallery-image {
  width: 100%;
  height: auto;
}

/* Timeline Container */
.timeline {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    padding: 20px;
  }
  
  /* Card container */
  .card {
    position: relative;
    max-width: 400px;
  }
  
  /* setting padding based on even or odd */
  .card:nth-child(odd) {
    padding: 30px 0 30px 30px;
  }
  .card:nth-child(even) {
    padding: 30px 30px 30px 0;
  }
  /* Global ::before */
  .card::before {
    content: "";
    position: absolute;
    width: 50%;
    border: solid #97999a;
  }
  
  /* Setting the border of top, bottom, left */
  .card:nth-child(odd)::before {
    left: 0px;
    top: -4.5px;
    bottom: -4.5px;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0 0 50px;
  }
  
  /* Setting the border of top, bottom, right */
  .card:nth-child(even)::before {
    right: 0;
    top: 0;
    bottom: 0;
    border-width: 5px 5px 5px 0;
    border-radius: 0 50px 50px 0;
  }
  
  /* Removing the border if it is the first card */
  .card:first-child::before {
    border-top: 0;
    border-top-left-radius: 0;
  }
  
  /* Removing the border if it is the last card  and it's odd */
  .card:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
  }
  
  /* Removing the border if it is the last card  and it's even */
  .card:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
  }
  
  /* Information about the timeline */
  .info {
    display: flex;
    flex-direction: column;
    background: #f4f3f3;
    color: black;
    border-radius: 10px;
    padding: 10px;
  }
  
  /* Title of the card */
  .title {
    color: #2E86C1;
    position: relative;
    margin-bottom: 7px;
  }
  
  /* Timeline dot  */
  .title::before {
    content: "";
    position: absolute;
    margin: 0 -2.5px;
    width: 15px;
    height: 15px;
    background:white;
    border-radius: 999px;
    border: 3px solid black;
  }
  
.title .dot-text {
    display: inline-block;
    width: 20px; /* Size of the dot */
    height: 20px; /* Size of the dot */
    line-height: 20px; /* Center the text vertically */
    text-align: center; /* Center the text horizontally */
    border-radius: 50%; /* Make it circular */
    background-color: #000; /* Dot color */
    color: #fff; /* Text color */
    font-size: 8px; /* Adjust based on your design */
    margin-right: 8px; /* Space between the dot and the title text */
}  

  .org {
    color:#A93226; 
    margin-top: 0;
    font-size: 15px;
  }
  /* text right if the card is even  */
  .card:nth-child(even) > .info > .title {
    text-align: right;
  }
  
  /* setting dot to the left if the card is odd */
  .card:nth-child(odd) > .info > .title::before {
    left: -45px;
  }
  
  /* setting dot to the right if the card is odd */
  .card:nth-child(even) > .info > .title::before {
    right: -45px;
  }
  
  


/* Extra Extra large devices (large laptops and desktops, 1200px and below) */
@media only screen and (max-width: 1600px) {
  #main-content {
    margin: 225px 275px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and below) */
@media only screen and (max-width: 1200px) {
  #main-content {
    margin: 225px 175px;
  }
}

/* Large devices (laptops/desktops, 1000px and below) */
@media only screen and (max-width: 1000px) {
  #main-content {
    margin: 225px 75px;
  }
}

/* Small devices (portrait tablets and large phones, 800px and below) */
@media only screen and (max-width: 800px) {
  #main-content {
    margin: 150px 50px;
  }

  #portfolio-header {
    flex-direction: column;
  }

  .portfolio-header-image {
    border-radius: 50%;
    align-self:center;
    max-width: 80%;

  }
  .project-card {
    max-width: calc((100% - 16px) / 2);
  }
}

/* Small devices (portrait tablets and large phones, 600px and below) */
@media only screen and (max-width: 600px) {
  #main-content {
    margin: 125px 20px;
  }

  .project-card {
    max-width: 100%;
  }
}



