<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

    <!-- 
      TODO

      Upload your Unemployable (or whatever photo you like) to the assets/images folder
      and change the name of the image below to match the uploaded one

      Change the title in the <title> tag to whatever you would like the title of your portfolio to be

      This should be the same across all pages.
     -->
    <link rel="icon" href="../static/assets/images/1312.png" />
		<title>Sidharth Srinath</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Varela Round">
    <link rel="stylesheet" href="../static/css/layout.css">
    <link rel="stylesheet" href="../static/css/typography.css">
    <link rel="stylesheet" href="../static/css/utilities.css">
    <script defer src="../static/js/script.js"></script>

	</head>
	<body>
    <!-- NAVBAR -->
    <div class="navbar">
      <a class="nav-title-link" href="../static/pages/index.html">
        <!-- TODO - Change the "Portfolio Title" to whatever you want displayed in the top left -->
        <span class="nav-title">Sidharth Srinath</span>
         <!-- TODO - Change the email after 'mailto:' to your email address for contact -->
        {% comment %} <a class="button" href="https://drive.google.com/file/d/1f9sEUswK-guGSLYg_k2s2YxCuopY7XcQ/view?usp=sharing">
          <span class="button-text">Resume</span>
        </a> {% endcomment %}
      </a>
    </div>

    <!-- MAIN PAGE CONTENT -->
    <div id="main-content">
        {% block main %}{% endblock %}
    </div>

    <!-- FOOTER -->
    <div id="footer">
       <a class="icon-link" target="_blank" href="https://linkedin.com/in/sidharthsrinath">
        <image src="../static/assets/icons/linkedin.svg" class="footer-icon"/>
      </a>
      <a class="icon-link" target="_blank" href="https://github.com/sidharthsrinath/">
        <image src="../static/assets/icons/github.svg" class="footer-icon"/>
      </a>

      <a class="icon-link" target="_blank" href="mailto:ssrinath@ucsd.edu">
        <image src="../static/assets/icons/mail.svg" class="footer-icon"/>
      </a>
    </div>
	</body>
</html>
